<template>
  <v-row>
    <v-col cols="12" md="8">
      <v-form class="mt-4" v-model="valid" ref="form" @submit.prevent="saveFields">
        <v-text-field
          id="firstName"
          v-model="user.name"
          label="Naam"
          :rules="fieldRules"
          clearable
          outlined
          rounded
        />

        <v-text-field
          id="lastName"
          v-model="user.lastName"
          label="Achternaam"
          :rules="fieldRules"
          clearable
          outlined
          rounded
        />

        <v-text-field
          id="address"
          v-model="user.addressInclNumber"
          label="Adres met huisnummer"
          :rules="fieldRules"
          clearable
          outlined
          rounded
        />

        <v-text-field
          id="zipCode"
          v-model="user.zipCode"
          label="Postcode"
          :rules="zipCodeRules"
          clearable
          outlined
          rounded
        />

        <v-text-field
          id="city"
          v-model="user.city"
          label="Woonplaats"
          :rules="fieldRules"
          clearable
          outlined
          rounded
        />

        <v-btn type="submit" :disabled="!valid" color="primary" rounded>
          Opslaan
        </v-btn>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  mounted() {
    this.$store.dispatch('user/getUser').then(() => {
      this.user = this.getUser;
    });
  },
  data() {
    return {
      valid: false,
      user: {
        name: '',
        lastName: '',
        addressInclNumber: '',
        zipCode: '',
        city: '',
      },
      fieldRules: [v => !!v || 'Dit veld is verplicht!'],
      zipCodeRules: [
        value => !!value || 'Dit veld is verplicht!',
        value => {
          const pattern = /^[1-9][0-9]{3} ?(?!sa|sd|ss)[a-z]{2}$/i;
          return pattern.test(value) || 'Postcode is onjuist!';
        },
      ],
    };
  },
  computed: {
    ...mapState({
      loading: 'pending',
      error: 'error',
    }),
    getUser() {
      return !this.loading ? this.$store.state.user.user : {};
    },
  },
  methods: {
    ...mapActions({
      saveUserChanges: 'user/saveUserChanges',
    }),
    saveFields() {
      if (this.valid) {
        this.saveUserChanges(this.user);
      }
    },
  },
};
</script>

<style scoped></style>
