<template>
  <router-link class="next-order" :to="`/bestellingen/${item.orderNumber}`">
    <v-card class="next-order" color="grey lighten-3">
      <v-card-text>
        <div>Eerstvolgende uitlevering</div>
        <div class="text--primary">{{ item.client.name }}</div>
        <div class="text--primary">{{ address }}, {{ postalCode }}</div>

        <div class="mt-2">
          <div>
            Verwachte leverdatum:
            {{ dateTimeHelper(item.deliveryDateTimeWindow, dateTimeFormats.date) }}
          </div>
          <div>Tijdsindicatie: {{ item.timeDifference }}</div>
        </div>
      </v-card-text>
    </v-card>
  </router-link>
</template>

<script>
import { dateTimeHelper, dateTimeFormats } from '@/helpers/dateTimeHelper';

export default {
  data() {
    return { dateTimeFormats };
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    address() {
      return `${this.item.deliveryStreet} ${this.item.deliveryStreetNumber}`;
    },
    postalCode() {
      return `${this.item.postalCode} ${this.item.deliveryResidence}`;
    },
  },
  methods: {
    dateTimeHelper,
  },
};
</script>

<style lang="scss" scoped>
.next-order {
  text-decoration: none;
}
</style>
