<template>
  <div class="elevation-1">
    <med-error-message v-if="hasError">
      Er is iets fout gegaan bij het ophalen van de gegevens, probeer het nogmaals.
    </med-error-message>

    <slot v-else />
  </div>
</template>

<script>
import MedErrorMessage from '@/components/error-message/ErrorMessage';

export default {
  components: {
    MedErrorMessage,
  },
  computed: {
    hasError() {
      return this.$store.state.error;
    },
  },
};
</script>
