<template>
  <v-row>
    <v-col cols="12" md="8" offset-md="2">
      <div class="pa-4 elevation-1">
        <h2 class="text-left">Inloggen op je account</h2>

        <v-form class="mt-4" v-model="valid" ref="form" @submit.prevent="submit">
          <v-text-field
            id="email"
            v-model="email"
            label="Emailadres"
            type="email"
            :rules="emailRules"
            :color="emailColor"
            clearable
            outlined
            required
            rounded
            @update:error="setEmailValidFromError"
          />

          <v-text-field
            id="password"
            v-model="password"
            label="Wachtwoord"
            :type="fieldType"
            :rules="passwordRules"
            :append-icon="showPasswordIcon"
            :color="passwordColor"
            clearable
            outlined
            required
            rounded
            @click:append="flipShowPassword"
            @update:error="setPasswordValidFromError"
          />

          <med-error-message v-if="hasError || credentialsInvalid">
            {{ errorMessage }}
          </med-error-message>

          <v-btn type="submit" color="primary" :disabled="!valid" :loading="loading" rounded>
            Inloggen
          </v-btn>
        </v-form>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex';
import MedErrorMessage from '@/components/error-message/ErrorMessage';

export default {
  data() {
    return {
      credentialsInvalid: false,
      email: '',
      isEmailValid: false,
      password: '',
      isPasswordValid: false,
      showPassword: false,
      valid: false,
      emailRules: [
        value => !!value || 'Het emailadres is een verplicht veld.',
        value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || 'Het emailadres is ongeldig.';
        },
      ],
      passwordRules: [value => !!value || 'Het wachtwoord is een verplicht veld.'],
    };
  },
  components: {
    MedErrorMessage,
  },
  computed: {
    emailColor() {
      return this.isEmailValid ? 'success' : 'error';
    },
    errorMessage() {
      return this.hasError
        ? 'Er is iets fout gegaan bij het ophalen van de gegevens, probeer het nogmaals.'
        : 'Emailadres en/of wachtwoord is niet juist, probeer opnieuw!';
    },
    loggedIn() {
      return this.$store.state.auth.loggedIn;
    },
    ...mapState({
      loading: 'pending',
      hasError: 'error',
    }),
    passwordColor() {
      return this.isPasswordValid ? 'success' : 'error';
    },
    fieldType() {
      return this.showPassword ? 'text' : 'password';
    },
    showPasswordIcon() {
      return this.showPassword ? 'mdi-eye-off-outline' : 'mdi-eye-outline';
    },
  },
  methods: {
    flipShowPassword() {
      this.showPassword = !this.showPassword;
    },
    setEmailValidFromError(hasError) {
      this.isEmailValid = !hasError;
    },
    setPasswordValidFromError(hasError) {
      this.isPasswordValid = !hasError;
    },
    async submit() {
      if (this.valid) {
        await this.$store.dispatch('login', {
          email: this.email,
          password: this.password,
        });

        if (this.loggedIn) {
          this.$emit('loginValid');
        }

        this.credentialsInvalid = !this.loggedIn;
      }
    },
  },
};
</script>
