<template>
  <med-table-wrapper>
    <v-data-table
      v-if="this.orders"
      :headers="this.headers"
      :items="this.orders"
      :items-per-page="itemsPerPage"
      :loading="this.loading"
      :custom-sort="this.customSort"
      :mobile-breakpoint="800"
      no-data-text="Er zijn geen bestellingen beschikbaar"
      sort-by="deliveryDateTimeWindow"
      must-sort
      class="med-table"
      @click:row="item => this.$router.push({ path: `/bestellingen/${item.orderNumber}` })"
    >
      <template v-slot:item.status="{ item }">
        <med-status-chip :status="item.status" />
      </template>

      <template v-slot:item.deliveryDateTimeWindow="{ item }">
        {{ dateTimeHelper(item.deliveryDateTimeWindow, dateTimeFormats.date) }}
      </template>
    </v-data-table>
  </med-table-wrapper>
</template>

<script>
import MedStatusChip from '@/components/status-chip/StatusChip';
import MedTableWrapper from '@/components/table-wrapper/TableWrapper';
import { dateTimeHelper, dateTimeFormats } from '@/helpers/dateTimeHelper';
import { customSort } from '@/helpers/dataTableHelper';

export default {
  components: {
    MedStatusChip,
    MedTableWrapper,
  },
  props: {
    headers: {
      type: Array,
      required: true,
    },
    orders: {
      type: Array,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    itemsPerPage: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      dateTimeFormats,
    };
  },
  methods: {
    dateTimeHelper,
    customSort,
  },
};
</script>

<style lang="scss" scoped>
/deep/ .med-table {
  tr:hover {
    cursor: pointer;
  }
}
</style>
