<template>
  <div class="ma-2 ma-md-4">
    <v-container fluid>
      <v-row align="start" justify="center">
        <v-col class="col-12 col-md-6">
          <med-order-card class="text-left" :item="orderData" />

          <med-table-wrapper class="mt-6">
            <v-data-table
              :headers="headers"
              :items="orderData.products"
              sort-by="id"
              disable-sort
              hide-default-footer
            />
          </med-table-wrapper>

          <div class="text-center mt-6">
            <v-btn :to="{ path: '/' }" color="primary">Terug naar overzicht</v-btn>
          </div>
        </v-col>
        <v-col class="col-12 col-md-6">
          <med-map-view :postalCode="orderData.postalCode" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import MedMapView from '@/components/map-view/MapView';
import MedOrderCard from '@/components/order-card/OrderCard';
import MedTableWrapper from '@/components/table-wrapper/TableWrapper';
import pageConfig from './pageconfig';

export default {
  props: {
    id: {
      type: String,
      required: true,
      validator: value => !!value && typeof value === 'string',
    },
  },
  components: {
    MedMapView,
    MedOrderCard,
    MedTableWrapper,
  },
  computed: {
    orderData() {
      return this.$store.getters['order/orderById'](this.id);
    },
  },
  data() {
    return {
      ...pageConfig,
    };
  },
};
</script>
