<template>
  <div class="ma-2 ma-md-4">
    <h1 class="primary--text display-3">Bestellingen overzicht</h1>
    <v-container fluid>
      <v-row>
        <v-col cols="12" md="3">
          <v-card class="pa-3">
            <v-text-field
              id="order"
              v-model="orderNumber"
              label="Bestelnummer"
              type="text"
              clearable
              outlined
              rounded
            />

            <v-text-field
              id="customer"
              v-model="customer"
              label="Klantnaam"
              type="text"
              clearable
              outlined
              rounded
            />

            <v-checkbox
              v-for="status in orderStatus"
              :key="status.name"
              v-model="statuses"
              :value="status.name"
              :label="status.name"
              color="indigo"
            />
          </v-card>
        </v-col>
        <v-col cols="12" md="9">
          <med-table
            :headers="enrichedHeaders"
            :orders="orders"
            :loading="loading"
            :itemsPerPage="itemsPerPage"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import MedTable from '@/components/med-table/MedTable';
import pageConfig from './pageconfig';

import orderStatus from '@/helpers/orderStatusHelper';

export default {
  data() {
    return {
      orderNumber: undefined,
      customer: undefined,
      statuses: [],
      ...pageConfig.data,
      orderStatus,
    };
  },
  components: {
    MedTable,
  },
  computed: {
    ...mapState({
      loading: 'pending',
      error: 'error',
    }),
    filters() {
      return {
        orderNumber: value => {
          if (!this.orderNumber) return true;

          return value.includes(this.orderNumber);
        },
        'client.name': value => {
          if (!this.customer) return true;

          return value.includes(this.customer);
        },
        status: value => {
          if (!this.statuses.length) return true;

          return this.statuses.includes(orderStatus[value].name);
        },
      };
    },
    orders() {
      return !this.loading ? this.$store.getters['order/orders'] : [];
    },
    enrichedHeaders() {
      const headers = [...this.headers];

      return headers.map(header => {
        const h = { ...header };

        if (this.filters[header.value]) {
          h.filter = this.filters[header.value];
        }

        return h;
      });
    },
  },
  mounted() {
    this.$store.dispatch('order/getOrderList', '/all');
  },
};
</script>
