<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="8" offset-md="3">
        <h1 class="primary--text display-2 mt-5 mt-md-10 ">Mijn profiel</h1>
        <med-contact-details />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import MedContactDetails from '../../components/contact-details/ContactDetails';

export default {
  components: {
    MedContactDetails,
  },
};
</script>

<style scoped></style>
