<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col class="text-center">
        This is a contact page
      </v-col>
    </v-row>
  </v-container>
</template>
