<template>
  <v-container fluid>
    <v-row v-if="nextOrder">
      <v-col md="6">
        <med-next-order :item="nextOrder" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <med-table
          :headers="headers"
          :orders="orders"
          :loading="loading"
          :itemsPerPage="itemsPerPage"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex';
import MedNextOrder from '@/components/next-order/NextOrder';
import MedTable from '@/components/med-table/MedTable';
import pageConfig from './pageconfig';

export default {
  components: {
    MedNextOrder,
    MedTable,
  },
  data() {
    return {
      ...pageConfig.data,
    };
  },
  computed: {
    ...mapState({
      loading: 'pending',
      error: 'error',
    }),
    orders() {
      return !this.loading ? this.$store.getters['order/orders'] : [];
    },
    nextOrder() {
      return this.$store.getters['order/nextOrder'];
    },
  },
  mounted() {
    this.$store.dispatch('order/getOrderList');
  },
};
</script>
