<template>
  <div>
    <v-chip class="d-block text-center white--text" :color="getColor">
      {{ getStatus }}
    </v-chip>
  </div>
</template>

<script>
import orderStatus from '@/helpers/orderStatusHelper';

export default {
  data() {
    return {
      orderStatus,
    };
  },
  props: {
    status: {
      type: String,
    },
  },
  computed: {
    getColor() {
      return orderStatus[this.status].color;
    },
    getStatus() {
      return orderStatus[this.status].name;
    },
  },
};
</script>
