<template>
  <v-app id="med-portal-app">
    <v-app-bar app color="secondary" clipped-left dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Med shop</v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" clipped app>
      <v-list dense>
        <router-link v-if="!loggedIn" is="v-list-item" to="/">
          <v-list-item-action>
            <v-icon>mdi-login</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Inloggen</v-list-item-title>
          </v-list-item-content>
        </router-link>
        <router-link v-if="loggedIn && !isAdmin" is="v-list-item" to="/bestellingen">
          <v-list-item-action>
            <v-icon>mdi-format-list-bulleted-type</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Bestellingen</v-list-item-title>
          </v-list-item-content>
        </router-link>
        <router-link v-if="loggedIn && !isAdmin" is="v-list-item" to="/profiel">
          <v-list-item-action>
            <v-icon>mdi-account-edit </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Profiel</v-list-item-title>
          </v-list-item-content>
        </router-link>
        <router-link v-if="!isAdmin" is="v-list-item" to="/contact">
          <v-list-item-action>
            <v-icon>mdi-contact-mail-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Contact</v-list-item-title>
          </v-list-item-content>
        </router-link>
        <router-link v-if="loggedIn && isAdmin" is="v-list-item" to="/dashboard">
          <v-list-item-action>
            <v-icon>mdi-view-dashboard-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </router-link>
        <v-list-item v-if="loggedIn" @click="logout">
          <v-list-item-action>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title data-test="logoutButton">Uitloggen</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <router-view />
    </v-content>

    <v-footer color="secondary" app>
      <span class="white--text">&copy; 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  computed: {
    loggedIn() {
      return this.$store.state.auth.loggedIn;
    },
    isAdmin() {
      return this.$store.getters.isAdmin;
    },
  },
  data: () => ({
    drawer: null,
  }),

  methods: {
    async logout() {
      await this.$store.dispatch('logout');
      this.$router.push({ path: '/' });
    },
  },
};
</script>
