<template>
  <v-container class="med-login-page">
    <v-row>
      <v-col cols="12" md="8" offset-md="2">
        <v-img
          v-if="!error"
          src="/assets/med_header_logo.png"
          alt="Med logo"
          max-width="100px"
          @error="error = true"
        />

        <h1 class="primary--text display-3 mt-5 mt-md-10">
          Welkom
          <span class="d-none d-sm-inline"> bij Med shop</span>
        </h1>
      </v-col>
    </v-row>

    <med-login-form class="mt-10" @loginValid="redirect" />
  </v-container>
</template>

<script>
import MedLoginForm from '@/components/login-form/LoginForm';

export default {
  data() {
    return {
      error: false,
    };
  },
  components: {
    MedLoginForm,
  },
  methods: {
    redirect() {
      const { isAdmin } = this.$store.getters;

      const nextPage = isAdmin ? '/dashboard' : '/bestellingen';
      this.$router.push(nextPage);
    },
  },
};
</script>

<style lang="scss" scoped>
.med-login-page {
  height: 100%;
}
</style>
