<template>
  <v-card>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          width="600"
          height="500"
          id="gmap_canvas"
          :src="mapsUrl"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        />
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  props: {
    postalCode: {
      type: String,
      required: true,
      validator: value => !!value && /^[1-9][0-9]{3}[\s]?[A-Za-z]{2}$/i.test(value),
    },
  },
  computed: {
    mapsUrl() {
      return `https://maps.google.com/maps?q=${this.postalCode}&t=&z=13&ie=UTF8&iwloc=&output=embed`;
    },
  },
};
</script>

<style lang="scss" scoped>
.mapouter {
  text-align: right;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;

  #gmap_canvas {
    width: 100%;
  }
}
</style>
