<template>
  <v-card>
    <v-card-text>
      <v-row>
        <v-col cols="9">
          <med-status-chip :status="item.status" />
        </v-col>
        <v-col align-self="center" class="d-flex justify-center"
          >Bestelling: #{{ item.orderNumber }}</v-col
        >
      </v-row>
      <div class="text--primary">{{ item.client.name }}</div>
      <div class="text--primary">{{ address }}</div>
      <div class="text--primary">{{ postalCode }}</div>

      <div class="mt-2">
        <div>Besteldatum: {{ dateTimeHelper(item.orderDate, dateTimeFormats.date) }}</div>
        <div>
          Verwachte leverdatum:
          {{ dateTimeHelper(item.deliveryDateTimeWindow, dateTimeFormats.date) }}
        </div>
        <div>Tijdsindicatie: {{ item.timeDifference }}</div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import MedStatusChip from '@/components/status-chip/StatusChip';
import { dateTimeHelper, dateTimeFormats } from '@/helpers/dateTimeHelper';

export default {
  data() {
    return { dateTimeFormats };
  },
  components: {
    MedStatusChip,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    address() {
      return `${this.item.deliveryStreet} ${this.item.deliveryStreetNumber}`;
    },
    postalCode() {
      return `${this.item.postalCode} ${this.item.deliveryResidence}`;
    },
  },
  methods: {
    dateTimeHelper,
  },
};
</script>
